body {
  text-align: center;
}

.svg-container {
  width: 500px;
  height: 500px;
  margin: 2em auto;
  padding: 1em;
  border: 2px solid;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.svg-container svg {
  width: 80%;
  height: auto;
  max-height: 100%;
  transform: rotate(40deg);
}
